body {
  background-color: rgb(1, 3, 26);
}

h1 {
  font-size: x-large;
}

ul {
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
}

img {
  width: 140px;
  height: 140px;
  display: inline-block;
}

.button {
  border: 2px solid grey;
  display: inline;
  padding: 8px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: whitesmoke;
  color: grey;
  user-select: none; /* 選択を禁止する */
  transition: border ease 0.3s, color ease 0.2s;
}

.button:hover {
  color: aqua;
  border: 2px solid aqua;
  cursor: pointer;
}

.button:active {
  color: blue;
  border: 2px solid aqua;
}

ul {
  background-color: rgb(1, 3, 26);
}

li {
  font-size: 32px;
  font-weight: bold;
}

#d1 {
  color: aqua;
  transition: all ease 0.3s;
}
#d2 {
  color: greenyellow;
  transition: all ease 0.3s;
}
#d3 {
  color: goldenrod;
  transition: all ease 0.3s;
}
#d4 {
  color: orange;
  transition: all ease 0.3s;
}
#d5 {
  color: plum;
  transition: all ease 0.3s;
}
#d6 {
  color: red;
  transition: all ease 0.3s;
}
