---
import {formatDate} from "../utils/formatDate";

const {posts} = Astro.props;
---

<ul class="text-skin-base">
  {
    posts.map((post) => (
      <li style="list-style-type: disc;" class="ml-4 my-2">
        <a href={'/' + post.collection + '/' + post.id}>
          <span class="mr-4">
            {formatDate(post.data.date)}
          </span>
          <span class="hover:text-skin-active">
            {post.data.title}
          </span>
        </a>
      </li>
    ))
  }
</ul>
